# Some notes:
### breast-cancer-wisconsin
I have removed 16 rows from breast-cancer-wisconsin.data due to missing data (some ?-n)
now there are 685 rows left

### wine
In wines dataset I replaced white with 1 and red with 0

Made all the label columns in data_binary be "labels"

df_  = pd.read_csv(r"datasets\breast-cancer-wisconsin.csv")
df_["labels"] = df_["labels"].replace({2: 0, 4: 1})

In [23]:
import os
import numpy as np
import pandas as pd
from config import *

## Adult

In [50]:
df = pd.read_csv(os.path.join(DATASET_FOLDER, 'adult.csv'))

print(df.shape)
row_count = df.shape[0]

assert df.isna().sum().sum() == 0, 'There are missing values in the dataset'

print(df.info())

(30162, 15)

In [52]:
df.income.replace({'<=50K': 0, '>50K': 1}, inplace=True)
df.rename(columns={'income': 'labels'}, inplace=True)

print(df.labels.value_counts())

AttributeError: 'DataFrame' object has no attribute 'income'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   fnlwgt          30162 non-null  int64
 3   education       30162 non-null  object
 4   education.num   30162 non-null  int64
 5   marital.status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   sex             30162 non-null  object
 10  capital.gain    30162 non-null  int64
 11  capital.loss    30162 non-null  int64
 12  hours.per.week  30162 non-null  int64
 13  native.country  30162 non-null  object
 14  labels          30162 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.5+ MB
None

In [54]:
# set "?" to NaN
df = df.replace('?', np.nan)


df = df.dropna()

print(f"Initial row count: {row_count}")
print(f"Final row count: {df.shape[0]}")
print(f"Percentage of rows dropped: {((row_count - df.shape[0]) / row_count) * 100:.2f}%")

Initial row count: 30162
Final row count: 30162
Percentage of rows dropped: 0.00%

In [55]:
df.to_csv(os.path.join(DATASET_FOLDER, 'adult.csv'), index=False)

In [19]:
for col in df.columns:
    # count num of "?"s
    if df[col].dtype == 'object':
        val_count = df[col].value_counts()
        if "?" in val_count.index:
            print(col, "missing", df[col].value_counts()["?"] / len(df) * 100)

workclass missing 5.638647461687294
occupation missing 5.660145572924664
native.country missing 1.7904855501980899

In [12]:
df.income.value_counts(normalize=True)

income
0    0.75919
1    0.24081
Name: proportion, dtype: float64

## bank-full

In [67]:
df = pd.read_csv(os.path.join(DATASET_FOLDER, 'bank-full.csv'), sep=';')

print(df.shape)
row_count = df.shape[0]

assert df.isna().sum().sum() == 0, 'There are missing values in the dataset'

print(df.info())

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None

In [68]:
df.y.replace({'no': 0, 'yes': 1}, inplace=True)
df.rename(columns={'y': 'labels'}, inplace=True)

print(df.labels.value_counts(normalize=True))

labels
0    0.883015
1    0.116985
Name: proportion, dtype: float64

C:\Users\hayk_\AppData\Local\Temp\ipykernel_10192\2705107074.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.y.replace({'no': 0, 'yes': 1}, inplace=True)
C:\Users\hayk_\AppData\Local\Temp\ipykernel_10192\2705107074.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.y.replace({'no': 0, 'yes': 1}, inplace=True)

In [70]:
for col in df.columns:
    print(df[col].unique())

[58 44 33 47 35 28 42 43 41 29 53 57 51 45 60 56 32 25 40 39 52 46 36 49
 59 37 50 54 55 48 24 38 31 30 27 34 23 26 61 22 21 20 66 62 83 75 67 70
 65 68 64 69 72 71 19 76 85 63 90 82 73 74 78 80 94 79 77 86 95 81 18 89
 84 87 92 93 88]
['management' 'technician' 'entrepreneur' 'blue-collar' 'unknown'
 'retired' 'admin.' 'services' 'self-employed' 'unemployed' 'housemaid'
 'student']
['married' 'single' 'divorced']
['tertiary' 'secondary' 'unknown' 'primary']
['no' 'yes']
[ 2143    29     2 ...  8205 14204 16353]
['yes' 'no']
['no' 'yes']
['unknown' 'cellular' 'telephone']
[ 5  6  7  8  9 12 13 14 15 16 19 20 21 23 26 27 28 29 30  2  3  4 11 17
 18 24 25  1 10 22 31]
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
[ 261  151   76 ... 1298 1246 1556]
[ 1  2  3  5  4  6  7  8  9 10 11 12 13 19 14 24 16 32 18 22 15 17 25 21
 43 51 63 41 26 28 55 50 38 23 20 29 31 37 30 46 27 58 33 35 34 36 39 44]
[ -1 151 166  91  86 143 147  89 140 176 101 174 170 167 195 165 129 188
 196 172 118 119 104 171 117 164 132 131 123 159 186 111 115 116 173 178
 110 152  96 103 150 175 193 181 185 154 145 138 126 180 109 158 168  97
 182 127 130 194 125 105 102  26 179  28 183 155 112 120 137 124 187 190
 113 162 134 169 189   8 144 191 184 177   5  99 133  93  92  10 100 156
 198 106 153 146 128   7 121 160 107  90  27 197 136 139 122 157 149 135
  30 114  98 192 163  34  95 141  31 199  94 108  29 268 247 253 226 244
 239 245 204 231 238 258 230 254 265  71 223 246 250 266 240 205 261 259
 241 260 234 251 225 161 237 262 248 255 220 227 206 224 249 235 228 263
   2 270 232 252 207 200 269 233 256 273 272 242 264 208 214 222 271 203
 221 202 216 201 257 229 210 217  75 213  73  76 267 211 215  77 236  82
   6 209 274   1 243 212 275  80 276   9 279  12 280  88 277  85  84 219
  24  21 282  41 294  49 329 307 303 331 308 300  64 314 287 330 332 302
 323 318 333  60 326 335 313 312 305 325 327 336 309 328 322  39 316 292
 295 310 306 320 317 289  57 321 142 339 301 315 337 334 340 319  17  74
 148 341 299 344 342 324 345 346 304 281 343 338  14 347  15 291 348 349
 285 350 284  25 283 278  81   4  87  83  79  70  13 293  37  78  63  22
 296 355  66  19  35 360 357 354 351 362 358 365 298 286 364 363  47 361
 288 366 356 352 359 297 367 353 368  42 290  67 371 370 369  50  36 373
 374 372 311 375 378  59 379  40  18  43  20  69  38 385  56  55  44 391
  72 390  32  62 399 393  65 377 395 388 389 386  61 412 405 434 394 382
 459 440 397 383  68 461 462 463 422  51 457 430 442 403 454 428 392 410
 401 474 475 477 478  54 476 380 479  45  46 495  58  48 518  52 515 520
 511 536 387 218  33 544 435 436 555 433 446 558 469 616 561 553 384 592
 467 585 480 421 667 626 426 595 381 376 648 521 452 449 633 398  53 460
 670 551 414 557 687 404 651 686 425 504 578 674 416 586 411 756 450 745
 514 417 424 776 396 683 529 439 415 456 407 458 532 481 791 701 531 792
 413 445 535 784 419 455 491 431 542 470 472 717 437   3 782 728 828 524
 562 761 492 775 579 493 464 760 466 465 656 831 490 432 655 427 749 838
 769 587 778 854 779 850 771 594 842 589 603 484 489 486 409 444 680 808
 485 503 690 772 774 526 420 528 500 826 804 508 547 805 541 543 871 550
 530]
[  0   3   1   4   2  11  16   6   5  10  12   7  18   9  21   8  14  15
  26  37  13  25  20  27  17  23  38  29  24  51 275  22  19  30  58  28
  32  40  55  35  41]
['unknown' 'failure' 'other' 'success']
[0 1]

In [71]:
df.to_csv(os.path.join(DATASET_FOLDER, 'bank-full.csv'), index=False)

## german_credit (this will wait)

In [81]:
df = pd.read_csv(os.path.join(DATASET_FOLDER, 'german_credit.csv'))

print(df.shape)
row_count = df.shape[0]

df.fillna('NA', inplace=True)

assert df.isna().sum().sum() == 0, 'There are missing values in the dataset'

print(df.info())

(1000, 10)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   Age               1000 non-null   int64
 2   Sex               1000 non-null   object
 3   Job               1000 non-null   int64
 4   Housing           1000 non-null   object
 5   Saving accounts   1000 non-null   object
 6   Checking account  1000 non-null   object
 7   Credit amount     1000 non-null   int64
 8   Duration          1000 non-null   int64
 9   Purpose           1000 non-null   object
dtypes: int64(5), object(5)
memory usage: 78.2+ KB
None

In [77]:
del df["Unnamed: 0"]

In [79]:
df["Checking account"].value_counts()

Checking account
little      274
moderate    269
rich         63
Name: count, dtype: int64

In [80]:
df

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car
...,...,...,...,...,...,...,...,...,...
995,31,female,1,own,little,NaN,1736,12,furniture/equipment
996,40,male,3,own,little,little,3857,30,car
997,38,male,2,own,little,NaN,804,12,radio/TV
998,23,male,2,free,little,little,1845,45,radio/TV
999,27,male,2,own,moderate,moderate,4576,45,car